/*CSS Styles for Global*/
.v-navigation-drawer__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .section-title, .section-description {
    text-align: center;
    padding-bottom: 30px;
  }

  .homepage {
    margin-left: 100px;
  }

  .v-slide-group__content {
    justify-content: center;
  }
